<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BotToken" value=""/>

    <add key="DbHost" value="host" />  
    <add key="DbPort" value="port" />
    <add key="DbUser" value="user" />
    <add key="DbUserPass" value="password" />
    <add key="DbName" value="backupDb" />
    
    <add key="DefaultConnection" value="server=host;port=port;user=usr;password=password;database=backupDb;" />
  </appSettings>
</configuration>
