<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appSettings>
    <!-- Discord API Configurations -->
    <add key="BotToken" value="Token" />
    <add key="GuildID" value="1095979581787361380" />

    <!-- MariaDB Configurations -->
    <add key="DbHost" value="localhost" />
    <add key="DbPort" value="3306" />
    <add key="DbUser" value="TestUser" />
    <add key="DbUserPass" value="TestPassword" />
    <add key="DbName" value="BackupDatabase" />

    <!-- Connection Strings -->
    <add key="MariaDbConnectionString" value="server=localhost;port=3306;user=TestUser;password=TestPassword;database=BackupDatabase;" />
  </appSettings>
</configuration>